body{
    margin: 0;
    background-image: url('../img/ImagenEstudos.jpg');
    background-size: cover;
}
#container{
    width: 0vw;
    height: 0vh;
}
h1{
    color: blue;
}
h2{
    color: red;
}
h3{
    color: red;
}